@font-face {
  font-family: 'DosisExtraLight';
  src: local("Dosis ExtraLight"), local("Dosis-ExtraLight"), url("../fonts/Dosis/DosisExtraLight/dosisextralight.woff2") format("woff2"), url("../fonts/Dosis/DosisExtraLight/dosisextralight.woff") format("woff"), url("../fonts/Dosis/DosisExtraLight/dosisextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'DosisLight';
  src: local("Dosis Light"), local("Dosis-Light"), url("../fonts/Dosis/DosisLight/dosislight.woff2") format("woff2"), url("../fonts/Dosis/DosisLight/dosislight.woff") format("woff"), url("../fonts/Dosis/DosisLight/dosislight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'DosisRegular';
  src: local("Dosis"), local("Dosis-Regular"), url("../fonts/Dosis/DosisRegular/dosis.woff2") format("woff2"), url("../fonts/Dosis/DosisRegular/dosis.woff") format("woff"), url("../fonts/Dosis/DosisRegular/dosis.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "DosisExtraLight";
  font-weight: 100;
  color: #771921;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.widget {
  background-image: url("../img/widget-background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 438px; }
  @media only screen and (min-width: 580px) {
    .widget {
      display: grid;
      grid-rows: minmax(100vh, 1fr);
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-self: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (max-width: 579px) {
    .widget {
      display: inline-block; } }

.widget__left-weather {
  padding: 2rem; }

.widget__grid {
  display: grid;
  justify-self: center;
  -webkit-box-align: centre;
  -webkit-align-items: centre;
      -ms-flex-align: centre;
          align-items: centre; }
  @media only screen and (min-width: 580px) {
    .widget__grid {
      grid-area: 2/2/2/3;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media only screen and (max-width: 579px) {
    .widget__grid {
      display: grid;
      width: 100%;
      height: 100%; } }

.widget__left, .widget__right {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  @media only screen and (min-width: 580px) {
    .widget__left, .widget__right {
      height: 438px; } }

.widget__right {
  grid-template-rows: 1fr 1fr 1fr; }

.widget__left {
  grid-template-rows: 2fr minmax(auto, 94px) minmax(auto, 104px);
  grid-template-columns: auto;
  grid-gap: 0; }
  @media only screen and (max-width: 579px) {
    .widget__left {
      grid-template-rows: 2fr 1fr	1fr; } }

.widget__left-weather {
  max-height: 142px;
  max-width: 142px; }

.widget__left-text {
  display: inline-grid;
  text-align: center;
  justify-self: center;
  height: 100%;
  padding: 0.5rem;
  margin: 0;
  color: #ffffff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  @media only screen and (max-width: 580px) {
    .widget__left-text {
      width: 100%; } }

.widget__left-text_dark {
  background-image: url("../img/widget__left-dark.png");
  font-size: 2.5rem;
  min-width: 290px;
  grid-row: 2/3; }

.widget__left-text_red {
  background-image: url("../img/widget__left-red.png");
  font-size: 1.6rem;
  min-width: 290px;
  grid-row: 3/3; }

.widget__left_bg-img {
  background-image: url("../img/widget__left.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  min-width: 290px;
  width: 100%; }

.widget__right_bg-img {
  background-image: url("../img/widget__right.png");
  width: 100%;
  min-width: 291px;
  max-height: 438px; }

.widget__right-tempr {
  font-size: 7rem;
  line-height: 1;
  word-spacing: 0.5rem;
  margin: 0;
  justify-self: center; }

.widget__right-graf {
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 1.5rem 0;
  justify-self: center; }

.widget__right-list {
  width: 100%;
  display: grid;
  margin: 12px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 208px;
  padding-left: 0;
  text-align: center;
  justify-self: center; }

.widget__right-elem {
  display: inline-block;
  text-align: center;
  min-width: 50px; }

.widget__right-text_sun {
  background-image: url("../img/widget__right-sun.png");
  width: 40px;
  height: 40px;
  display: inline-block; }

.widget__right-text_cloudy {
  background-image: url("../img/widget__right-cloudy.png");
  width: 40px;
  height: 40px;
  display: inline-block; }

.widget__right-text_day {
  border-bottom: 1px solid;
  padding-bottom: 9px;
  margin-bottom: 15px;
  font-size: 1.15rem; }

.widget__right-text_temp-day {
  margin-bottom: 5px;
  font-size: 1.15rem; }

.widget__right-text_temp-night {
  color: #000;
  font-size: 1.15rem; }
